.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 45px 15px;
    overflow-x: auto;
    font-size: 12px;
}

.container table {
    align-self: center;
    border-spacing: 0;
    width: 60%;
}

.container table.summation {
    align-items: flex-end;
}

button {
    cursor: pointer;
}

input {
    width: 100px;
    border: none;
    outline-width: 0; 
    background: transparent;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

input.qty {
    width: 30px;
}

input.taxPercentage {
    width: 30px;
}